@font-face {
	font-family: "Normalidad";
	src: url("../font/NormalidadWide-Thin.woff2"), url("../font/NormalidadWide-Thin.woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
/*
@font-face {
font-family: "Normalidad Wide";
src: url("../font/Normalidad Wide-Regular-Web.woff2") format("woff2"),
url("../font/Normalidad Wide-Regular-Web.woff") format("woff");
font-style: medium;
font-weight: normal;
}*/
